.fixed{
  position: fixed;
  z-index: 2;
  width: 100%;
}
body{
  background-image: url("./used_img/pattern-randomized.png");
  background-size: contain;
  min-height: 100vh;
  z-index: -1;
}


/* Polls.css */


.a9vhdown,.homediv{
  position: relative;
  top: 9vh;
}
.a9vhdown{
  display: flex;
}
.polldiv{
  display: flex;
  flex-direction: column;
  width: 70vw;
  border: 4px solid royalblue;
  margin-bottom: 3vh;
  border-radius: 3vh;
}
.poll_title{
  font-size: 5vh;
  font-weight: bolder;
  max-height: 20vh;
  /* max-width: 70vw; */
  border-bottom: 3px solid rgb(108, 104, 104);
  border-radius: 8px;
  padding-left: 3vh;
  display: flex;
  flex-wrap: wrap;
  /* overflow: scroll; */
}
.poll_content{
  max-height: 25vh;
  padding-left: 3vh;
  overflow: scroll;
  width: 67vw;
  /* margin-bottom: 3vh; */
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  border: 1px solid white;
  background: rgb(58, 68, 96);
  border-radius: 1vh;
}
.poll_option{
  /* padding: 1vh; */
  /* border-top:3px solid rgb(53, 107, 209); */
  border-radius: 8px;
}
.poll_optionlist{
  /* margin-bottom: 4px; */
  display: flex;
  flex-wrap: wrap;
  overflow: scroll; 
}
.poll_optionlist li{
  font-size: 4vh;
  max-height: 25vh;
  list-style: none;
  margin-bottom: 2vh;
  margin-right: 2vh;
  padding-left: 1%;
  width: 29vw;
  border: 1px solid #c5bfbf;
  border-radius: 3vh;
  cursor: pointer;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  overflow: hidden;
}
.poll_optionlist li:hover{
  overflow: auto;
}
.poll_optionlist img{
  height: 16vh;
  width: 16vh;
  object-fit: cover;
  border-radius: 1vh;
  margin: 2vh 4vh 0vh 2vh;
}
/* .poll_optionlist li:hover{
  border: 2px solid grey;
  box-shadow: 0px 1px 4px 1px gray;
  border-radius: 3vh;
} */

.poll_user{
  margin-left: 3vh;
  color: royalblue;
  text-decoration: underline;
  font-size: 4vh;
}
.polls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.polldiv {
  position: relative;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 4vh 0;
  background-color: #ffffff;
  box-shadow: 10px 10px slateblue;
}

.poll_user_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.poll_user {
  margin-right: 10px;
}

.follow_button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 3vh;
  cursor: pointer;
  margin-top: 1vh;
}

.follow_button:hover {
  background-color: #0056b3;
  color: white;
}

.follow_button, .action_button, button{
  padding: 5px 10px;
  color: royalblue;
  border: 2px solid royalblue;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.follow_button:hover, .action_button:hover, button:hover{
  background-color: #0056b3;
  color: white;
}

.poll_actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.poll_actions p{
  font-size: larger;
  font-weight: 500;
  text-align: center;
  margin:1vh;
}

.comment_section {
  margin-top: 10px;
}

.comment_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit_comment_button {
  display: block;
  margin-left: auto;
}

.progress_container{
  color: white;
  transition: width 3s ease;
}

.edit_button{
  position: absolute;
  right: 7vh;
  top: 3vh;
  border: 2px solid royalblue;
  padding: 2vh;
  border-radius: 2vh;
}



/*__ create poll form ___ */

.pollinput{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  border: 4px solid rgb(106, 90,205,0.9);
  border-radius: 3vh;
  margin: 5vh;
  margin-top: 5vh;
  height: 110vh;
  width: 60vw;
  background-color: rgb(251, 246, 246,0.8);
}

label,span{
  /* text-align: left; */
  width: 90%;
  font-weight: bold;
  font-size: 3vh;
  margin-left: 5%;
  color: royalblue;
  text-decoration: solid;
}
.pollinput input,textarea{
  width: 90%;
  border: 2px solid rgb(101, 132, 172);
  max-width: 90%;
  height: 10%;
  max-height: 20%;
  margin-left: 5%;
  overflow: scroll;
  border-radius: 1vh;
  font-size: 1em;
  overflow: hidden;
}
.titleinput{
  height: 10%;
}

.contentinput{
  height: 20%;
}

.optionadd {
  width: 6em;
  margin-left: 5%;
  margin-top: 1%;
  height: 10%;
  border-radius: 2vh;
  border: 2px solid royalblue;
  color:royalblue;
  overflow: hidden;
}

.optionview {
  display: flex; /* Use flexbox for layout */
  flex-direction: column  ; /* Allow items to wrap to the next line */
  border-radius: 3vh;
  margin: 2vh;
  width: 25vw;
  height: 110vh;
  overflow: auto;
}
/* #optionImage{
  width: 30vw;
} */

.optiondiv {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 2vh;
  padding: 5px;
  width: 20vw; /* Ensure two items per row */
  box-sizing: border-box; 
  display: flex;
  gap: 10px;
  margin-bottom: 1vh;
  background-color: white;
}

.optiondiv img {
  width: 12vh; 
  height: 12vh; 
  object-fit: contain;
  border: 2px solid black; 
}
.optiondiv button{
  background-color: rgb(106, 90,205,0.8);
  color: white;
  border-radius: 2vh;
}

/* h3{
  position: relative;
  left: 40px;
} */

.pollcreate_btn{
  min-height: 2.3em;
  width: 7.2em;
  color: royalblue;
  position: relative;
  left: 23vw;
  border: 2px solid royalblue;
  border-radius: 2vh;
  text-wrap: wrap;
}

.polldelete_btn{
  min-height: 3.1em;
  width: 7.2em;
  color: royalblue;
  position: relative;
  left: 26vw;
  border: 2px solid royalblue;
  border-radius: 2vh;
  text-wrap: wrap;
}

/*.....signup css.... */

.signup-container, .login-container, .midsignupcontainer{
  border: 2px solid royalblue;
  border-radius: 3vh;
  width: 35vw;
  max-height: 80vh;
  position: relative;
  left: 15vw;
  top: 13vh;
  background-color: rgba(255, 255, 255,0.8);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  overflow: auto;
}
.signup-container input, .login-container input, .midsignupcontainer input{
  margin-left: 5%;
  width: 90%;
  border-radius: 1vh;
  height: 5vh;
}
.signup-container h2, .login-container h2 ,.midsignupcontainer h2{
  margin-left: 5%;
  margin-bottom: 5%;
  color: royalblue;
  text-decoration:underline;
}
.signup-container button, .login-container button, .avatarchange button, .midsignupcontainer button{
  margin-left: 5%;
  width: 6em;
  background-color: royalblue;
  border: 2px solid white;
  border-radius: 2vh;
  color: white;
  height: 3em;
  font-size: 1.2em;
}
.signup-container p, .login-container p{
  text-align: center;
  margin-top: 2%;
}

/*......userinfo css..... */
.userinfoparent{
  position: relative;
  top: 9vh;
}
.userinfo{
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 80vh;
  border: 2px solid slateblue;
  display: flex;
  border-radius: 3vh;
  background-color: rgb(251, 246, 246,0.6);
}

.avatar img{
  width: 18vw;
  height: 18vw;
  align-items: center;
  /* object-fit: cover; */
  border-radius: 50%;
}

.avatar button{
  margin-top: 3%;
  background-color: royalblue;
  border: 2px solid white;
  color: white;
  border-radius: 2vh;
}

.avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 80vh;
}

.avatarchange{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  /* border: 2px solid rgb(136, 86, 86); */
}
.avatarchange input{
  border: 2px solid royalblue;
  border-radius: 2vh;
}

.info{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 80vh;
  border-left: 2px solid slateblue;
}
.name{
  border-bottom: 1px solid royalblue;
}

.not_display{
  display: none;
}

.userinfoparent h1{
  margin-left: 10vw;
  text-decoration: underline;
  color: royalblue;
}
.info p{
  margin-left: 5%;
  font-size: x-large;
  font-weight: 600;
}
.info span{
  font-size: xx-large;
}
.same1{
  height: 20vh;
  border-bottom: 2px solid slateblue;
  border-radius: 3vh;
  overflow: hidden;
}
.changeinfo{
  border: none;
  background: none;
  width: 4vw;
  font-size: x-large;
  margin-left: 1%;
}
.changemade{
  border: 2px solid royalblue;
  background: none;
  font-weight: 500;
  max-width: 10vw;
  max-height: 5vh;
  margin-left: 1%;
}
.same1 div input{
  width: 20vw;
}
.navigate{
  display: flex;
}
.navigate button{
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  color: royalblue;
  background: none;
  border: none;
  height: 20vh;
  width: 30vw;
}
.navigate div{
  width: 30vw;
}
.followingnav{
  border-right: 2px solid royalblue;
}
.regular{
  display: inline-block ;
  /* display: flex; */
  width: 10vw;
  height: vh;
  border-bottom: none;
}
.following{
  display: flex;
}
.users{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 35vw;
  height: 90vh;
  border-right: 3px solid rgb(106, 90,205,0.9);
}
.userpoll{
  overflow: scroll;
  padding: 2vh;
  height: 90vh;
}
.stats{
  position: relative;
  top: 9vh;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.statspan{
  border: 2px solid royalblue;
  padding: 2vh;
  margin-top: 3vh;
  width: 23vw;
  border-radius: 3vh;
}

/* ....following.... */
.following {
  position: relative;
  top: 2.8em;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.search-container {
  width: 28vw;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid slateblue;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  width: 28vw;
  position: fixed;
  z-index: 1;
}

.search-input:focus {
  border-color: #316f4b;
  box-shadow: 0 0 10px rgba(82, 220, 142, 0.5);
  outline: none;
}

.users {
  display: flex;
  flex-direction: column;
  width: 28vw;
  position: relative;
  top: 2em;
  height: 81vh;
}

.user {
  display: flex;
  padding: 10px;
  /* margin: 5px 0; */
  border-bottom: 2px solid rgb(106, 90,205,0.9);
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  min-width:26vw;
  overflow: auto;
  background-color: rgb(251, 246, 246,0.8);
}

.user:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.userimg img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.userimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.nameofuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameofuser p {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.userpoll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72vw;
  height: 93vh;
}

.noclicked {
  width: 65vw;
  text-align: center;
}
.following span{
  position: relative;
  top: 35vh;
  font-size: 1.3em;
}
.pollclicked {
  width: 60vw;
}


/* ..... my polls css ..... */
.choose{
  display: flex;
  width:40vw;
  height: 2.3em;
  color: white;
  background-color: rgb(106,90,205,0.9);
  border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 4vh;
  position: fixed;
  top: 2.7em;
  z-index: 1;
  overflow: hidden;
}

.my{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.liked{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.borderbottom{
  border-bottom: 3px solid rgb(251, 246, 246);
  border-radius: 5vh;
  box-shadow: 0px 3px black;
}
.mypollsview,.likedview{
  position: relative;
  top: 23vh;
}

/* ....midsignup..... */

.midsignupflex{
  display: flex;
}
.avatarpreview{
  margin-top: 18vh;
  /* border: 2px solid royalblue; */
  padding: 4vh;
  height: 30vh;
  width: 40vw;
  margin-left: 30vw;
  border-radius: 3vh;
}
.avatarpreview span{
  margin-right: 7vh;
}
.avatarpreview img{
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  object-fit: cover;
}
.search{
  position: relative;
  top: 9vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}
.getusers{
  width: 45vw;
  margin-bottom: 1vh;
  padding: 4vh;
  /* border-bottom: 2vh solid royalblue; */
  height: 90vh;
}
.search span{
  font: xx-large;
  text-decoration: underline;
}
.getposts, .getusers{
  overflow: scroll;
}
.getposts{
  height: 90vh;
}

/* //navbar...... */

.navbarcss{
  color: white;
  font-weight: bold;
  background-color: rgb(106, 90,205,0.9);
} 
.collapse{
  background-color: rgb(251, 246, 246,0.8);
  border-radius: 3vh;
  z-index: 1000;
}
.dropdown-menu{
  background-color: rgb(251, 246, 246,0.9);
}
.dropdown-item:hover{
  background-color: rgb(106, 90,205,0.9);
  color: white;
}
.bgw{
  background-color: #ccc;
}

.signupbody,.loginbody{
  background-image: url("../src/used_img/signup_login.png");
  background-size: cover;
  min-height: 100vh;
}


.comments{
  max-height: 40vh;
  overflow: auto;
}

.comment {
  margin-bottom: 3vh;
  border: 1px solid gray;
  background-color: #ccc;
  padding: 4px 0;
  width: 70%;
  margin-left: 5%;
  border-radius: 3vh;
}
.comment p{
  margin-left: 1vh;
}
.comment_input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  max-height: 13vh;
}

.submit_comment_button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.searchbar {
  position: fixed;
  top: 3.2em;
  right: 0vh; 
  height: 3.4em;
  width: 36vw;
  display: flex;
  justify-content: space-between;  
  background-color: rgb(106,90,205,0.9); 
  padding: 0 10px;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.4); 
  z-index: 1; /* Ensure it's above other content */
  border-bottom-left-radius: 4vh;
  border-bottom-right-radius: 4vh;
}

.searchbar input{
  margin-left: 3vw;
  width: 29vw;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.more_button_container {
  position: relative;
}

.more_button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.popup_menu {
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup_menu_item {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.popup_menu_item:hover {
  background: #f0f0f0;
}


@media (max-width: 600px) {
  .polldiv{
      width: 100%;
      min-width: 300px; /* Minimum width */
      min-height: 200px; /* Minimum height */
  }
  .choose{
    min-width: 50vw;
  }
  .my{
    min-width: 25vw;
  }
  .searchbar{
    min-width: 50vw;
  }
  .searchbar input{
    right: 0;
    min-width: 50vw;
  }
  .pollcreate_btn{
    position: relative;
    left: 2vw;
  }
}